<div class="website-info">
  <div class="wrapper">
    <div class="website-info__container">
      <div class="row">
        <div class="col-sm-4 website-info__item">
          <p class="larger-font">Contact:</p>
          <p class="large-font"><i><%= fa_icon "envelope" %></i> : MetalB.bastien.j@gmail.com</p>
          <p class="large-font"><i><%= fa_icon "phone" %></i> : Tél: 07.78.82.09.73</p>
        </div>
        <div class="col-sm-4 website-info__item">
          <p class="larger-font">Navigation:</p>
            <%= link_to root_path, class: "large-font-nav" do %> <%= fa_icon "home" %> Accueil <% end %><br>
            <%= link_to items_path, class: "large-font-nav" do %> <%= fa_icon "pencil" %> Mes réalisations <% end %><br>
            <%= link_to new_contact_path(new_contact_path), class: "large-font-nav" do %> <%= fa_icon "phone" %> Me contacter <% end %>
        </div>
        <div class="col-sm-4 website-info__item">
           <p class="larger-font">Admin:</p>
          <% if user_signed_in? %>
          <%= link_to "- Reviews json", api_v1_reviews_path, class: "large-font-co" %><br>
          <%= link_to "- Items json ", api_v1_items_path, class: "large-font-co" %><br>
          <% else %>
          <%= link_to new_user_session_path, class: "large-font-co" do %><i><%= fa_icon "user" %></i>: Ce connecté
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p class="align-middle"> MétalBDesign &copy; 2020. All Rights Reserved.</p>
</div>
</div>

