<header id="menu-flex" class="menu-flex">
  <nav class="menu">

    <div class="logo-menu">

      <a href="/" title="Logo">
        <span class="title-logo-menu">
         <%= image_tag "logo.png", id: "logoNav" %> MétalBDesign
       </span>
     </a>
     <a href="javascript:void(0);" id="btn-menu" class="btn-menu">
      <i id="hamburguer" class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </div>

  <div id="links" class="links">
    <%= link_to root_path, :class => current_class?(root_path) do %> <%= fa_icon "home" %> Accueil <% end %>
    <%= link_to items_path, :class => current_class?(items_path) do %> <%= fa_icon "pencil" %>Mes réalisations <% end %>
    <%= link_to new_contact_path, :class => current_class?(new_contact_path) do %> <%= fa_icon "phone" %> Me contacter <% end %>
    <% if user_signed_in? %>
    <%= link_to "Créer un meuble", new_item_path, :class => current_class?(new_item_path) %>
    <%= link_to "Déconnexion",destroy_user_session_path, class: "links-menu", method: :get  %>
    <% end %>
  </a>
</div>
</nav>
</header>

<script type="text/javascript">
$(document).ready(function() {

  let menuFlex = $('#menu-flex');

  // Menu Responsive
  // Calculamos el ancho de la página
  let widthScrenn = $(window).width(),
      links = $('#links'),
      btnMenu = $('#btn-menu'),
      hamburguer = $('#hamburguer');

  // Cuando le dan click al boton del menu se alterne que se muestre el menú al igual con los iconos
  btnMenu.on('click', function() {
    links.slideToggle();
    hamburguer.toggleClass('fa-bars fa-times-circle');
  });

  // Si el ancho de la pantalla es 900 o menos no se muestren los enlaces y este el icono de la hamburguesa
  if ( widthScrenn < 901 ) {
    links.hide();
    hamburguer.addClass('fa-bars').removeClass('fa-times-circle');
  }

  // Cuando hagan resize en la página si es el tamaño es 901 en adelante se muestren los enlaces y varie dependiendo el tamaño
  $(window).on('resize', function() {
    if( $(this).width() > 900 ) {
      links.show();
      hamburguer.addClass('fa-times-circle').removeClass('fa-bars');
    }
  });

  $('.links-menu').on('focus', function() {
    $(this).blur();
  });

});
</script>

