<header id="menu-flex" class="menu-flex">
  <nav class="menu">

    <div class="logo-menu">

      <a href="/" title="Logo">
        <span class="title-logo-menu">
         <%= image_tag "logo.png", id: "logoNav" %> MétalBDesign
       </span>
     </a>
     <a href="javascript:void(0);" id="btn-menu" class="btn-menu">
      <i id="hamburguer" class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </div>

  <div id="links" class="links">
    <%= link_to root_path, :class => current_class?(root_path) do %> <%= fa_icon "home" %> Accueil <% end %>
    <%= link_to items_path, :class => current_class?(items_path) do %> <%= fa_icon "pencil" %> Mes réalisations <% end %>
    <%= link_to new_contact_path, :class => current_class?(new_contact_path) do %> <%= fa_icon "phone" %> Me contacter <% end %>
    <% if user_signed_in? %>
    <%= link_to "Créer un meuble", new_item_path, :class => current_class?(new_item_path) %>
    <%= link_to "Déconnexion",destroy_user_session_path, class: "links-menu", method: :get  %>
    <% end %>
  </a>
</div>
</nav>
</header>
<script>
$(document).ready(function() {

    let menuFlex = $('#menu-flex');
  
    // Menu Responsive
    // Calculate the width of the page
    let widthScrenn = $(window).width(),
        links = $('#links'),
        btnMenu = $('#btn-menu'),
        hamburguer = $('#hamburguer');
  
    // When the  button menu is clicked, the menu is alternated with the icons
    btnMenu.on('click', function() {
      links.slideToggle();
      hamburguer.toggleClass('fa-bars fa-times-circle');
    });
  
    // If the width of the screen is 900 or less the links are not shown and this the icon of the hamburger
    if ( widthScrenn < 901 ) {
      links.hide();
      hamburguer.addClass('fa-bars').removeClass('fa-times-circle');
    }
  
    // When you resize the page if the size is 901 or more, the links will be shown and will vary depending on the size
    $(window).on('resize', function() {
      if( $(this).width() > 900 ) {
        links.show();
        hamburguer.addClass('fa-times-circle').removeClass('fa-bars');
      }
    });
  
    $('.links-menu').on('focus', function() {
      $(this).blur();
    });
  
  });
  </script>