<div class="container-fluid" style="margin-bottom: 2%;">
  <h1 class="titleShow"><%= @item.name %></h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-8">
        <div class="modal-content">
          <% @item.photos.each do |photo| %>
          <div class="mySlides">
            <%= cl_image_tag photo.key, height: 900, width: 900, :crop=>"fill", :quality=>"auto" %>
          </div>
          <% end %>
          <!-- Next/previous controls -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>



      <div class="col-md-4 ml-auto">
        <div class="description" style="margin-bottom: 5%;">
          <p style="font-size: 1.5em;"><%= @item.description %></p>
        </div>

        <div class="thumbnail-slider">
          <div class="thumbnail-container">
            <% @item.photos.each_with_index do |photo, index| %>
            <div class="item">
              <%= cl_image_tag photo.key, class: "demo", :onclick => "currentSlide(#{index + 1})", :crop=>"fill", :quality=>"auto"%>
            </div>
            <% end %>

          </div>
          <div class="controls">
          </div>
        </div>
      </div>

      <div class="col justify-content-center" style="margin-top: 1% !important;">
          <% if @item.reviews.blank? %>
          <div style="margin-inline: 10%;">
            <h2 style="text-align: center;">Soyez le premier à commenter </h2> 
            
           <%= render "reviews/formreview" %>
        </div>
      </div>
          <% else %>
          <div class="col-lg-6">
            <% @item.reviews.order(created_at: :desc).each do | review| %>
            <div class="comments">
               
                <h1 style="margin-bottom: 2%; padding: 20px; border-bottom: 1px solid black;"><%= review.title %>
                  <% if user_signed_in? %>
                    <%= link_to edit_item_review_path(@item, review) do %>
                     <i class="fa fa-pencil" style="color: gray;"></i>
                    <% end %>
                    <%= link_to  item_review_path(@item, review), method: :delete, data: { confirm:  "tes sur de vouloir supprimé ce commentaire Zehbi ?" } do %>
                      <i class="fa fa-trash" style="color: gray;"></i>
                    <% end %>
                  <% end %>
                </h1>
                <p> <%= review.content %></p> 
                <p style="font-size: 1.10em"> Écrit le:  <%= review.created_at.strftime("%d/%m/%Y") %></p>
              <p style="font-size: 1.25em;">Par - <%= review.name %></p>
            </div>
            <% end %>
            </div>
            <div class="col-lg-6" id="col-wrap"> 
              <div id="sideform">
                <h2>Laisser un commentaire</h2>
                <%= render "reviews/formreview" %>
                </div>
              </div>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>